In [2]:
import pandas as pd
from pathlib import Path

In [3]:
ruta_crudos = Path("../datos/crudos")
archivos = sorted(ruta_crudos.glob("StreamingHistory_music_*.json"))
archivos

[PosixPath('../datos/crudos/StreamingHistory_music_0.json'),
 PosixPath('../datos/crudos/StreamingHistory_music_1.json'),
 PosixPath('../datos/crudos/StreamingHistory_music_2.json')]

In [4]:
lista_df = []
for archivo in archivos:
    print("Cargando:", archivo.name)
    df_temp = pd.read_json(archivo)
    lista_df.append(df_temp)

df = pd.concat(lista_df, ignore_index = True)
df.head()

Cargando: StreamingHistory_music_0.json
Cargando: StreamingHistory_music_1.json
Cargando: StreamingHistory_music_2.json

            endTime      artistName                trackName  msPlayed
0  2024-11-27 03:53     Luis Miguel  Tengo Todo Excepto a Ti    246944
1  2024-11-27 03:54     Teddy Swims             Lose Control     13862
2  2024-11-27 03:54             Maz            Nothing On Me     15481
3  2024-11-27 03:54  Unknown Artist            Unknown Track      3160
4  2024-11-27 03:54    Lukas Graham             Love Someone     11795

In [6]:
df.shape

(23401, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23401 entries, 0 to 23400
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   endTime     23401 non-null  object
 1   artistName  23401 non-null  object
 2   trackName   23401 non-null  object
 3   msPlayed    23401 non-null  int64
dtypes: int64(1), object(3)
memory usage: 731.4+ KB