In [1]:
import sys
from pathlib import Path
import pandas as pd

ruta_raiz = Path("..").resolve()
if str(ruta_raiz) not in sys.path:
    sys.path.append(str(ruta_raiz))

from src.analitica_spotify.consultas import (
    top_artistas,
    minutos_por_hora,
    minutos_por_dia_semana,
    minutos_por_anio_mes,
)

In [2]:
ruta_csv = Path("../datos/procesados/elias_limpio.csv")

df = pd.read_csv(ruta_csv, parse_dates=["fecha_reproduccion"])

df.head()

,fecha_reproduccion,artista,cancion,ms_reproducidos,minutos_reproducidos,anio,mes,dia,dia_semana,hora,usuario
0,2024-11-27 03:53:00,Luis Miguel,Tengo Todo Excepto a Ti,246944,4.115733,2024,11,27,Wednesday,3,Elias
1,2024-11-27 03:54:00,Teddy Swims,Lose Control,13862,0.231033,2024,11,27,Wednesday,3,Elias
2,2024-11-27 03:54:00,Maz,Nothing On Me,15481,0.258017,2024,11,27,Wednesday,3,Elias
3,2024-11-27 03:54:00,Unknown Artist,Unknown Track,3160,0.052667,2024,11,27,Wednesday,3,Elias
4,2024-11-27 03:54:00,Lukas Graham,Love Someone,11795,0.196583,2024,11,27,Wednesday,3,Elias

In [3]:
top_artistas(df, n=15)

artista
Bad Bunny         4415.787600
Eladio Carrion    1552.738267
Luis Miguel       1423.093617
Mora              1210.923750
The Weeknd         825.927117
RÜFÜS DU SOL       663.901683
Myke Towers        602.486767
Lewis Capaldi      544.274800
Adriatique         492.071683
Drake              425.736783
Travis Scott       423.435900
&ME                395.512750
Calvin Harris      317.155200
Tainy              306.946750
Arodes             301.375033
Name: minutos_reproducidos, dtype: float64

In [4]:
minutos_por_hora(df)

hora
10      10.300117
8       27.079117
7       46.941850
9       62.311333
11     117.415300
6      236.405133
5      308.649367
4      366.147650
12    1064.929683
3     1229.394217
13    1335.860500
2     1364.031650
22    1576.820983
16    1762.406667
14    1981.378917
20    2107.214400
1     2481.233383
21    2483.829583
17    2510.968167
23    2763.221567
15    2779.985900
0     2805.626667
18    3038.324667
19    3964.565083
Name: minutos_reproducidos, dtype: float64

In [5]:
minutos_por_dia_semana(df)

dia_semana
Monday       4828.031383
Tuesday      6405.625783
Wednesday    7648.774633
Thursday     6107.865700
Friday       6500.483800
Saturday     2204.698300
Sunday       2729.562300
Name: minutos_reproducidos, dtype: float64

In [6]:
minutos_por_anio_mes(df)

    anio  mes  minutos_reproducidos
0   2024   11            330.839867
1   2024   12           2839.850033
2   2025    1           3102.822450
3   2025    2           3455.191083
4   2025    3           3449.969550
5   2025    4           3235.355717
6   2025    5           3033.873767
7   2025    6           2933.699500
8   2025    7           2190.765267
9   2025    8           2509.665517
10  2025    9           2625.346850
11  2025   10           3713.809467
12  2025   11           3003.852833

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
ruta_crudos = Path("../datos/crudos")
archivos = sorted(ruta_crudos.glob("StreamingHistory_music_*.json"))
archivos

[PosixPath('../datos/crudos/StreamingHistory_music_0.json'),
 PosixPath('../datos/crudos/StreamingHistory_music_1.json'),
 PosixPath('../datos/crudos/StreamingHistory_music_2.json')]

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
lista_df = []
for archivo in archivos:
    print("Cargando:", archivo.name)
    df_temp = pd.read_json(archivo)
    lista_df.append(df_temp)

df = pd.concat(lista_df, ignore_index = True)
df.head()

Cargando: StreamingHistory_music_0.json
Cargando: StreamingHistory_music_1.json
Cargando: StreamingHistory_music_2.json

            endTime      artistName                trackName  msPlayed
0  2024-11-27 03:53     Luis Miguel  Tengo Todo Excepto a Ti    246944
1  2024-11-27 03:54     Teddy Swims             Lose Control     13862
2  2024-11-27 03:54             Maz            Nothing On Me     15481
3  2024-11-27 03:54  Unknown Artist            Unknown Track      3160
4  2024-11-27 03:54    Lukas Graham             Love Someone     11795

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
df = df.rename(columns={
    "endTime": "fecha_reproduccion",
    "artistName": "artista",
    "trackName": "cancion",
    "msPlayed": "ms_reproducidos"
})

df.head()

  fecha_reproduccion         artista                  cancion  ms_reproducidos
0   2024-11-27 03:53     Luis Miguel  Tengo Todo Excepto a Ti           246944
1   2024-11-27 03:54     Teddy Swims             Lose Control            13862
2   2024-11-27 03:54             Maz            Nothing On Me            15481
3   2024-11-27 03:54  Unknown Artist            Unknown Track             3160
4   2024-11-27 03:54    Lukas Graham             Love Someone            11795

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
df["fecha_reproduccion"] = pd.to_datetime(df["fecha_reproduccion"])
df["fecha_reproduccion"].head()

0   2024-11-27 03:53:00
1   2024-11-27 03:54:00
2   2024-11-27 03:54:00
3   2024-11-27 03:54:00
4   2024-11-27 03:54:00
Name: fecha_reproduccion, dtype: datetime64[ns]

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
df["minutos_reproducidos"] = df["ms_reproducidos"]/60000
f = df["fecha_reproduccion"]
df["anio"] = f.dt.year
df["mes"] = f.dt.month
df["dia"] = f.dt.day
df["dia_semana"] = f.dt.day_name()
df["hora"] = f.dt.hour

df[[
    "fecha_reproduccion", "artista", "cancion",
    "ms_reproducidos", "minutos_reproducidos",
    "anio", "mes", "dia", "dia_semana", "hora"
]].head()

,fecha_reproduccion,artista,cancion,ms_reproducidos,minutos_reproducidos,anio,mes,dia,dia_semana,hora
0,2024-11-27 03:53:00,Luis Miguel,Tengo Todo Excepto a Ti,246944,4.115733,2024,11,27,Wednesday,3
1,2024-11-27 03:54:00,Teddy Swims,Lose Control,13862,0.231033,2024,11,27,Wednesday,3
2,2024-11-27 03:54:00,Maz,Nothing On Me,15481,0.258017,2024,11,27,Wednesday,3
3,2024-11-27 03:54:00,Unknown Artist,Unknown Track,3160,0.052667,2024,11,27,Wednesday,3
4,2024-11-27 03:54:00,Lukas Graham,Love Someone,11795,0.196583,2024,11,27,Wednesday,3

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
df["usuario"] = "Elias"
df[["usuario", "artista", "cancion"]].head()

  usuario         artista                  cancion
0   Elias     Luis Miguel  Tengo Todo Excepto a Ti
1   Elias     Teddy Swims             Lose Control
2   Elias             Maz            Nothing On Me
3   Elias  Unknown Artist            Unknown Track
4   Elias    Lukas Graham             Love Someone

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
from pathlib import Path
ruta_salida = Path("../datos/procesados/elias_limpio.csv")
df.to_csv(ruta_salida, index=False)
ruta_salida

PosixPath('../datos/procesados/elias_limpio.csv')

In [ ]:
#Crear CSV limpio desde los JSON (histórico, no se corre siempre)
df_limpio = pd.read_csv(ruta_salida)
df_limpio.head()

,fecha_reproduccion,artista,cancion,ms_reproducidos,minutos_reproducidos,anio,mes,dia,dia_semana,hora,usuario
0,2024-11-27 03:53:00,Luis Miguel,Tengo Todo Excepto a Ti,246944,4.115733,2024,11,27,Wednesday,3,Elias
1,2024-11-27 03:54:00,Teddy Swims,Lose Control,13862,0.231033,2024,11,27,Wednesday,3,Elias
2,2024-11-27 03:54:00,Maz,Nothing On Me,15481,0.258017,2024,11,27,Wednesday,3,Elias
3,2024-11-27 03:54:00,Unknown Artist,Unknown Track,3160,0.052667,2024,11,27,Wednesday,3,Elias
4,2024-11-27 03:54:00,Lukas Graham,Love Someone,11795,0.196583,2024,11,27,Wednesday,3,Elias

In [ ]:
#Versión exploratoria, antes de modular en consultas.py
top_artistas = (
    df.groupby("artista")["minutos_reproducidos"].sum().sort_values(ascending=False).head(20)
)
top_artistas

artista
Bad Bunny          4415.787600
Eladio Carrion     1552.738267
Luis Miguel        1423.093617
Mora               1210.923750
The Weeknd          825.927117
RÜFÜS DU SOL        663.901683
Myke Towers         602.486767
Lewis Capaldi       544.274800
Adriatique          492.071683
Drake               425.736783
Travis Scott        423.435900
&ME                 395.512750
Calvin Harris       317.155200
Tainy               306.946750
Arodes              301.375033
HUGEL               292.306033
Sebastian Yatra     291.786267
José José           284.113167
Notre Dame          282.342900
Feid                276.973933
Name: minutos_reproducidos, dtype: float64

In [ ]:
#Versión exploratoria, antes de modular en consultas.py
horas_del_dia = (
    df.groupby("hora")["minutos_reproducidos"].sum().sort_values(ascending=False)
)
horas_del_dia

hora
19    3964.565083
18    3038.324667
0     2805.626667
15    2779.985900
23    2763.221567
17    2510.968167
21    2483.829583
1     2481.233383
20    2107.214400
14    1981.378917
16    1762.406667
22    1576.820983
2     1364.031650
13    1335.860500
3     1229.394217
12    1064.929683
4      366.147650
5      308.649367
6      236.405133
11     117.415300
9       62.311333
7       46.941850
8       27.079117
10      10.300117
Name: minutos_reproducidos, dtype: float64

In [ ]:
#Versión exploratoria, antes de modular en consultas.py
por_dia_semana = (
    df.groupby("dia_semana")["minutos_reproducidos"].sum().sort_values(ascending=False)
)
por_dia_semana

dia_semana
Wednesday    7648.774633
Friday       6500.483800
Tuesday      6405.625783
Thursday     6107.865700
Monday       4828.031383
Sunday       2729.562300
Saturday     2204.698300
Name: minutos_reproducidos, dtype: float64

In [ ]:
#Versión exploratoria, antes de modular en consultas.py
por_anio_mes = (
    df.groupby(["anio", "mes"])["minutos_reproducidos"]
      .sum()
      .reset_index()
      .sort_values(["anio", "mes"])
)

por_anio_mes.head(20)

    anio  mes  minutos_reproducidos
0   2024   11            330.839867
1   2024   12           2839.850033
2   2025    1           3102.822450
3   2025    2           3455.191083
4   2025    3           3449.969550
5   2025    4           3235.355717
6   2025    5           3033.873767
7   2025    6           2933.699500
8   2025    7           2190.765267
9   2025    8           2509.665517
10  2025    9           2625.346850
11  2025   10           3713.809467
12  2025   11           3003.852833