In [2]:
import pandas as pd
from pathlib import Path

In [3]:
ruta_crudos = Path("../datos/crudos")
archivos = sorted(ruta_crudos.glob("StreamingHistory_music_*.json"))
archivos

[PosixPath('../datos/crudos/StreamingHistory_music_0.json'),
 PosixPath('../datos/crudos/StreamingHistory_music_1.json'),
 PosixPath('../datos/crudos/StreamingHistory_music_2.json')]

In [4]:
lista_df = []
for archivo in archivos:
    print("Cargando:", archivo.name)
    df_temp = pd.read_json(archivo)
    lista_df.append(df_temp)

df = pd.concat(lista_df, ignore_index = True)
df.head()

Cargando: StreamingHistory_music_0.json
Cargando: StreamingHistory_music_1.json
Cargando: StreamingHistory_music_2.json

            endTime      artistName                trackName  msPlayed
0  2024-11-27 03:53     Luis Miguel  Tengo Todo Excepto a Ti    246944
1  2024-11-27 03:54     Teddy Swims             Lose Control     13862
2  2024-11-27 03:54             Maz            Nothing On Me     15481
3  2024-11-27 03:54  Unknown Artist            Unknown Track      3160
4  2024-11-27 03:54    Lukas Graham             Love Someone     11795

In [5]:
df.shape

(23401, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23401 entries, 0 to 23400
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   endTime     23401 non-null  object
 1   artistName  23401 non-null  object
 2   trackName   23401 non-null  object
 3   msPlayed    23401 non-null  int64
dtypes: int64(1), object(3)
memory usage: 731.4+ KB

In [8]:
df = df.rename(columns={
    "endTime": "fecha_reproduccion",
    "artistName": "artista",
    "trackName": "cancion",
    "msPlayed": "ms_reproducidos"
})

df.head()

  fecha_reproduccion         artista                  cancion  ms_reproducidos
0   2024-11-27 03:53     Luis Miguel  Tengo Todo Excepto a Ti           246944
1   2024-11-27 03:54     Teddy Swims             Lose Control            13862
2   2024-11-27 03:54             Maz            Nothing On Me            15481
3   2024-11-27 03:54  Unknown Artist            Unknown Track             3160
4   2024-11-27 03:54    Lukas Graham             Love Someone            11795

In [9]:
df["fecha_reproduccion"] = pd.to_datetime(df["fecha_reproduccion"])
df["fecha_reproduccion"].head()

0   2024-11-27 03:53:00
1   2024-11-27 03:54:00
2   2024-11-27 03:54:00
3   2024-11-27 03:54:00
4   2024-11-27 03:54:00
Name: fecha_reproduccion, dtype: datetime64[ns]

In [10]:
df["minutos_reproducidos"] = df["ms_reproducidos"]/60000
f = df["fecha_reproduccion"]
df["anio"] = f.dt.year
df["mes"] = f.dt.month
df["dia"] = f.dt.day
df["dia_semana"] = f.dt.day_name()
df["hora"] = f.dt.hour

df[[
    "fecha_reproduccion", "artista", "cancion",
    "ms_reproducidos", "minutos_reproducidos",
    "anio", "mes", "dia", "dia_semana", "hora"
]].head()

,fecha_reproduccion,artista,cancion,ms_reproducidos,minutos_reproducidos,anio,mes,dia,dia_semana,hora
0,2024-11-27 03:53:00,Luis Miguel,Tengo Todo Excepto a Ti,246944,4.115733,2024,11,27,Wednesday,3
1,2024-11-27 03:54:00,Teddy Swims,Lose Control,13862,0.231033,2024,11,27,Wednesday,3
2,2024-11-27 03:54:00,Maz,Nothing On Me,15481,0.258017,2024,11,27,Wednesday,3
3,2024-11-27 03:54:00,Unknown Artist,Unknown Track,3160,0.052667,2024,11,27,Wednesday,3
4,2024-11-27 03:54:00,Lukas Graham,Love Someone,11795,0.196583,2024,11,27,Wednesday,3

In [11]:
df["usuario"] = "Elias"
df[["usuario", "artista", "cancion"]].head()

  usuario         artista                  cancion
0   Elias     Luis Miguel  Tengo Todo Excepto a Ti
1   Elias     Teddy Swims             Lose Control
2   Elias             Maz            Nothing On Me
3   Elias  Unknown Artist            Unknown Track
4   Elias    Lukas Graham             Love Someone

In [12]:
from pathlib import Path
ruta_salida = Path("../datos/procesados/elias_limpio.csv")
df.to_csv(ruta_salida, index=False)
ruta_salida

PosixPath('../datos/procesados/elias_limpio.csv')

In [14]:
df_limpio = pd.read_csv(ruta_salida)
df_limpio.head()

,fecha_reproduccion,artista,cancion,ms_reproducidos,minutos_reproducidos,anio,mes,dia,dia_semana,hora,usuario
0,2024-11-27 03:53:00,Luis Miguel,Tengo Todo Excepto a Ti,246944,4.115733,2024,11,27,Wednesday,3,Elias
1,2024-11-27 03:54:00,Teddy Swims,Lose Control,13862,0.231033,2024,11,27,Wednesday,3,Elias
2,2024-11-27 03:54:00,Maz,Nothing On Me,15481,0.258017,2024,11,27,Wednesday,3,Elias
3,2024-11-27 03:54:00,Unknown Artist,Unknown Track,3160,0.052667,2024,11,27,Wednesday,3,Elias
4,2024-11-27 03:54:00,Lukas Graham,Love Someone,11795,0.196583,2024,11,27,Wednesday,3,Elias